:root {
--jaune: #FF6;
--blanc:#fff;
--bleu: #00c;
--orange:#f60;
--gris:#ccc;
}

.r {
	display: none;
	position: absolute;
	background-color: var(--blanc);
	width: 100%;
	padding: 20px;
}

.r ul li a {
	color: var(--bleu);
	font-weight: bold;
}

.mapa {
	height: 500px;
	width: 100%;
}

.fond {
	background-color: var(--jaune);
	padding-right: 0px;
	padding-left: 0px;
}

.thumbnail img {
	display: block;
	width: 100%;
	height: auto;
}

.reader img {
	display: block;
	width: 300px;
	height: auto;
	padding: 10px;
}

.media-object {
	height: 100px;
	width: 100px;
}

.delete {
	color: var(--orange);
	cursor: pointer;
	text-align: right;
	margin: 0px;
	padding: 0px;
}

.media {
	background-color: var(--blanc);
	margin-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color:var(--gris);
	padding: 5px;
}

.top_espace {
	margin-top: 20px;
}

.paged {
	font-weight: bold;
	font-size: 25px;
}

@media (max-width: 480px) {
	.thumbnail img {
		display: block;
		max-width: 300px;
		max-height: 200px;
		width: auto;
		height: auto;
	}
}